{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="col-md-7 col-md-offset-3 w-100 text-center">
            <img src=" {% static 'img/banner.jpg' %}" alt="..." style="max-width: 100%;">
        </div>
        <div class="row" style="margin-top: 6%">
            <div class="col-md-7 col-md-offset-3">
                <h3 class="page-header">Thank You For Shopping With Us
                </h3>
                <p style="font-size: 36px; font-weight: 400">Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}