<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container-fluid h-100">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 text-center py-5 ">
        <div class="mb-5 flex-center">
            <a class="fb-ic" href="https://www.facebook.com/ponponchiao/">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" style="color:#004d8c; height:fit-content"> </i>
            </a>
            <a class="ins-ic" href="https://www.instagram.com/ponponchiao/">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="color:#004d8c; height:fit-content"> </i>
            </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#" style="color:#004d8c">  Shang-Wei Hung</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->